<!-- Este es el cuadro rojo de bienbenida con btn al blog y asi le pasamos datos
del componente padre(donde lo llamamos) al hijo(al que llamamos).
Esto se gestiona desde la funcionalidad del componente(.TS).
ahora le pasamos una variable del padre para el hijo, tambien puede ser un
texte "'texto Aqui'"-->
<app-slider 
    [nombre] = "'Blog'"
    [size] = "'small'"
></app-slider>

<div class="center">
    <section id="content">

        <h1 class="subheader">Blog</h1>
    </section>
    <app-sidebar></app-sidebar>
</div>